################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Csharp70-483/.vs/Csharp70-483/v16
